{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление научной работы</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <div class="container">
        <h2 class="ep_h2">Добавление научной работы</h2>
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>